<!-- ======= Host Event Section ======= -->
  <section id="services" class="services section-bg" style="padding-top: 220px;">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>We Encourage Your Participation</h3>
        <p>Let your network know about this event!</p>
      </header>


  <section id="features" class="features;">
    <div class="container" data-aos="fade-up">

      <div class="row feature-item">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/ODSC.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>Open Data Science ODSC</h4>
          <p>
            Open Data Science Conference – is essential for anyone who wants to connect to the data science community and contribute to the open source applications they use every day. ODSC goal is to bring together the global data science community to help foster the exchange of innovative ideas and encourage the growth of open source software.
          </p>
          <p>
            Connect with some of the most innovative people and ideas in the world of data science, while learning first-hand from core practitioners and contributors on ODSC West 3 days conference. </p>

            <p style="text-align: center;">

			<b> Event: </b> ODSC West • Santa Clara 2021 <br><br>

			<b> When: </b> April 4rd, 2021 <br><br>
			<b> Registration link: </b> ODSC West – Santa Clara 2021 <br><br>

			Use code <b>ODSC-Data Science 909!</b> for an ADDITIONAL <b> 20% </b> Off!
          </p>
        </div>
      </div>

      

      <div class="row feature-item mt-5 pt-5" style="padding-top: 220px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/dsc.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>Data Science Congress 2021</h4>
          <p>
            Data science congress 2021 is a global  giga event with the confluence of Analytics, Big Data, Machine Learning, Artificial Intelligence, IoT and Cognitive Computing.
          </p>
          <p>
            Data science congress would be rich with information about the latest tools, methods and the best of the industrial practices in the world of data science. The idea attendees will have the privilege to avail most of the data science insights and data science future shaping. It is a must event for every budding Data scientist, Data Science professionals, and other Data Science patriots.

			What are you waiting for ? Let’s get involve to grab the chance to be part of this global data science event.
          </p>
          
          <p style="text-align: center;">

			<b> Event: </b> Data Science Congress 2021 <br><br>

			<b> When: </b> March 12th, 2021 <br><br>
			<b> Registration link: </b> Data Science Congress 2021 <br><br>

			Use code <b>DSC 2021-Data Science 909!</b> for an ADDITIONAL <b> 20% </b> Off!
          </p>
        </div>

      </div>


     </div> 
  </section><!-- End Host Event Section -->


