<!-- ======= Host Event Section ======= -->
  <section id="services" class="services section-bg" style="padding-top: 220px;">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>We Encourage Your Participation</h3>
        <p>Let your network know about this event!</p>
      </header>


  <section id="features" class="features;">
    <div class="container" data-aos="fade-up">

      <div class="row feature-item">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/ODSC.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>Open Data Science ODSC</h4>
          <p>
            Open Data Science Conference – is essential for anyone who wants to connect to the data science community and contribute to the open source applications they use every day. ODSC goal is to bring together the global data science community to help foster the exchange of innovative ideas and encourage the growth of open source software.
          </p>
          <p>
            Connect with some of the most innovative people and ideas in the world of data science, while learning first-hand from core practitioners and contributors on ODSC West 3 days conference. </p>

            <p style="text-align: center;">

			<b> Event: </b> ODSC West • Santa Clara 2021 <br><br>

			<b> When: </b> April 4rd, 2021 <br><br>
			<b> Registration link: </b> ODSC West – Santa Clara 2021 <br><br>

			Use code <b>ODSC-Data Science 909!</b> for an ADDITIONAL <b> 20% </b> Off!
          </p>
        </div>
      </div>

      

      <div class="row feature-item mt-5 pt-5" style="padding-top: 220px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/dsc.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>Data Science Congress 2021</h4>
          <p>
            Data science congress 2021 is a global  giga event with the confluence of Analytics, Big Data, Machine Learning, Artificial Intelligence, IoT and Cognitive Computing.
          </p>
          <p>
            Data science congress would be rich with information about the latest tools, methods and the best of the industrial practices in the world of data science. The idea attendees will have the privilege to avail most of the data science insights and data science future shaping. It is a must event for every budding Data scientist, Data Science professionals, and other Data Science patriots.

			What are you waiting for ? Let’s get involve to grab the chance to be part of this global data science event.
          </p>
          
          <p style="text-align: center;">

			<b> Event: </b> Data Science Congress 2021 <br><br>

			<b> When: </b> March 12th, 2021 <br><br>
			<b> Registration link: </b> Data Science Congress 2021 <br><br>

			Use code <b>DSC 2021-Data Science 909!</b> for an ADDITIONAL <b> 20% </b> Off!
          </p>
        </div>

      </div>


     </div> 
  </section><!-- End Host Event Section -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>Data Science 909!</h3>
                  <p>We believe the world is a better place when we share the knowledge we gain to others. If you love to share any data science topic, check out our join us page..</p>
                </div>

                <div class="footer-newsletter">
                  <h4>Let's Chat!</h4>
                  <p>Have a question ? Seeking an inquiry ? Partnership proposal ? Or would like to share feedback ?</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Work With Us?</a></li>
                    <li><a href="#">Host an Event?</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    National University of Sciences and Technology <br>
                    H-12 Campus<br>
                    Islamabad <br>
                    <strong>Phone:</strong> +92 3099224579<br>
                    <strong>Email:</strong> allthingsml@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Get notified of every new article we published directly on your favourite social media!</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Data Science 909!</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="#">ML Practitoners</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


