<section class="clearfix" style="padding: 120px;">
<div *ngFor="let competition of competitionService.competitions | async">
  <p>ID: {{ competition.id }}</p>
  <p>Name: {{ competition.name }}</p>
  <p>Description: {{ competition.description }}</p>
  <p>Start: {{ competition.start_date }} End: {{ competition.end_date }}</p>
  <img [src]="competition.image" height=100px width=100px />
  <p>Prize: PKR {{ competition.prize }}</p>
  <p>Host: {{ competition.host }}</p>
  Link To Competition: <a [href]="competition.link">{{ competition.link }}</a
  ><br /><br />
</div>
</section>
