<!--section class="clearfix" style="padding: 120px;"-->
  <section id="services" class="services section-bg" style="padding-top: 170px;">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Competitions</h3>
        <p>Following is a list of different competitions. Feel free to participate and add any relevant competitions too!</p>
      </header>
      <div class="row" >

        <div class=" wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class=" wow bounceInUp" id="post-8723"> 

            <div class="box" style="width: 200" *ngFor="let competition of competitionService.competitions | async">
            <!--POST THUMBNAIL START-->
                    <div class=" wow bounceInUp" style="float: left;">
                         <!--CALL TO POST IMAGE-->   
                         <img [src]="competition.image" height=100px width= 100px alt="" class="img-fluid" >
                        </div>
                        <!--POST THUMBNAIL END-->
           
                           <!--POST CONTENT START-->
                               <div class="post_content">
           
                                 <button
           
                                 style=" background-color: transparent;"
               
                                 mat-button
                                 color="primary"
                               >
                               <a class="title" [href]="competition.link">{{ competition.name }}</a>

                              </button>
                                  
                               <!--META INFO START-->   
                                 <div class="single_metainfo">
                                    <!--DATE-->
                                    <p class="description" style="text-align: center">Start: {{ competition.start_date }} End: {{ competition.end_date }}</p>
                                      <!--AUTHOR-->
                                    <p class="description" style="text-align: center">Host: {{ competition.host }} Prize: PKR {{ competition.prize }}</p>
                                  </div>
                                                                                 
                              </div>
                          <!--POST CONTENT END-->
          
                        
                      </div>
          
                    </div>
                    </div>
      </div>
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.name"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Competition name?"
      />
    </div>

    <div class="form-group">
      <textarea
        [(ngModel)]="competitionForm.description"
        class="form-control"
        name="answer"
        rows="2"
        required
        placeholder="Provide a brief description of the competition here."
      ></textarea>
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.start_date"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Start date?"
      />
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.end_date"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Ending date?"
      />
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.image"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Provide a URL for competition image?"
      />
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.prize"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Prize money?"
      />
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.host"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Competition hosted by?"
      />
    </div>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="competitionForm.link"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Competition link?"
      />
    </div>

<br>
    <button
      [disabled]="
        competitionForm.name.length < 1 || competitionForm.start_date.length < 1 || competitionForm.end_date.length < 1 || competitionForm.image.length < 1 || competitionForm.prize.length < 1 || competitionForm.host.length < 1 || competitionForm.link.length < 1
      "
      (click)="addCompetition()"
      mat-stroked-button
      color="primary"
      
    >
      Post Competition
    </button>
<!--div       *ngFor="let competition of competitionService.competitions | async">
  <p>ID: {{ competition.id }}</p>
  <p>Name: {{ competition.name }}</p>
  <p>Description: {{ competition.description }}</p>
  <p>Start: {{ competition.start_date }} End: {{ competition.end_date }}</p>
  <img [src]="competition.image" height=100px width=100px />
  <p>Prize: PKR {{ competition.prize }}</p>
  <p>Host: {{ competition.host }}</p>
  Link To Competition: <a [href]="competition.link">{{ competition.link }}</a
  ><br /><br />
</div-->
</section>
