    <section id="faq" class="faq" style="padding-top: 120px;">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
          <p>Looking for a decent start in data science?Thinking the same question again and again?</p>
        </header>

        <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
          <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">How to Get the Most out of Data Science 909!? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-bs-parent="#faq-list">
              <p>
                If your goals are to explore and start learning about data science, machine learning, programming, or artificial intelligence, then discover the most advanced knowledge in this field.
                Data Science 909! can help you. In just a few years, we have become one of the best places in the world to read, write about, and share data science and machine learning content.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">How to select the best features to use in the model with R? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-bs-parent="#faq-list">
              <p>
                In machine learning, Feature selection is the process of choosing variables that are useful in predicting the response (Y). It is considered a good practice to identify which features are important when building predictive models.

                Once we have enough data, We won’t feed entire data into the model and expect great results. We need to pre-process the data.
                
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">How can I improve my content-writing skills?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-bs-parent="#faq-list">
              <p>
               Practice, of course!

              This is as true with learning to play tennis as it is mastering content writing: the more you practice, the better you get.

              Today, content writing is a critical talent, and mastering it can help you stand out in the crowded online world.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">How logistic regression works in machine learning?<i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-bs-parent="#faq-list">
              <p>
                Logistic Regression is a Machine Learning algorithm which is used for the classification problems, it is a predictive analysis algorithm and based on the concept of probability. The hypothesis of logistic regression tends it to limit the cost function between 0 and 1.It measures the relationship between the categorical dependent variable and one or more independent variables by estimating probabilities using a logistic function, which is the cumulative distribution function of logistic distribution.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">How to handle overfitting in while building deep learning models? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-bs-parent="#faq-list">
              <p>
                Reduce the network's capacity by removing layers or reducing the number of elements in the hidden layers.<br>
                Apply regularization, which comes down to adding a cost to the loss function for large weights.<br>
                Use Dropout layers, which will randomly remove certain features by setting them to zero.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Do I need to pay to read your publication? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-bs-parent="#faq-list">
              <p>
               
              No, we’ll always have free articles available to read for everyone interested in Data Science. However, as we are part of the Data Science 909! ecosystem, our authors can decide to lock their posts to members only.
            </div>
          </li>

        </ul>

      </div>
    </section>



