

<!-- ======= About Section ======= -->
<section id="about" class="about" style="padding-top: 220px">

    <div class="container" data-aos="fade-up">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/img/about-us.png" alt="">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2>About Us</h2>
            <h3><b>Helping Millions of Data Science Beginners To Become Experts</b></h3>
            <p><b>“If You Can’t Explain It Simply, You Don’t Understand It Well Enough”</b></p>
            <p>Data Science 909! is an ideal place for beginners who are passionate to learn data science. We give the initial push you need to learn data science concepts to become an expert in the field and get the job you dream and deserve to get.</p>
            <ul>
              <li><i class="ion-android-checkmark-circle"></i>Our mission is to teach data science concepts for beginners in a much more simplistic way.</li>
              <li><i class="ion-android-checkmark-circle"></i> We believe this field is for everyone who is passionate and loves solving challenging problems.</li>
              <li><i class="ion-android-checkmark-circle"></i> For the next 2 years, our goal is to create quality content through which we intend to teach 1 million learners each month.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End About Section -->


