<section id="hero" class="clearfix">
Something like this:
<a href="https://www.kaggle.com/learn/overview"
  >https://www.kaggle.com/learn/overview</a
>

<ul>
  <li *ngFor="let course of courseService.courses | async">
    ID:{{ course.id }}&nbsp;NAME:{{ course.course_name }}&nbsp;RATE:{{
      course.rating
    }}&nbsp;INSTRUCTOR:{{ course.instructor }}<br />
    DESCRIPTION:{{ course.course_description }}<br />
    <img [src]="course.image" />Link To Course:
    <a [href]="course.link">{{ course.link }}</a>
  </li>
</ul>
</section>
