<!--<section id="hero" class="clearfix">
Something like this:
<a href="https://www.kaggle.com/learn/overview"
  >https://www.kaggle.com/learn/overview</a
>

<ul>
  <li *ngFor="let course of courseService.courses | async">
    ID:{{ course.id }}&nbsp;NAME:{{ course.course_name }}&nbsp;RATE:{{
      course.rating
    }}&nbsp;INSTRUCTOR:{{ course.instructor }}<br />
    DESCRIPTION:{{ course.course_description }}<br />
    <img [src]="course.image" />Link To Course:
    <a [href]="course.link">{{ course.link }}</a>
  </li>
</ul>
</section>
-->

<!-- Courses Section -->
<section id="services" class="services section-bg" style="padding-top: 220px">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Data Science 909! Courses</h3>
      <p>
        Have unlimited access to our courses. Stay up-to-date on our latest data
        science courses!
      </p>
    </header>

    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3 class="section-title">
            We offer courses in the following domains
          </h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Data Science</li>
              <li data-filter=".filter-card">NLP</li>
              <li data-filter=".filter-web">ML</li>
            </ul>
          </div>
        </div>

        <div
          class="row portfolio-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/DataScience-1.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">DataScience-1</a></h4>
                <p>Data Science</p>
                <div>
                  <a
                    href="assets/img/portfolio/app1.jpg"
                    data-gall="portfolioGallery"
                    title="DataScience-1"
                    class="link-preview venobox"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 portfolio-item filter-web"
            data-wow-delay="0.1s"
          >
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/ML-3.png"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">ML-3</a></h4>
                <p>ML</p>
                <div>
                  <a
                    href="assets/img/portfolio/ML-3.png"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="ML-3"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 portfolio-item filter-app"
            data-wow-delay="0.2s"
          >
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/DataScience-2.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Data Science-2</a></h4>
                <p>Data Science</p>
                <div>
                  <a
                    href="assets/img/portfolio/DataScience-2.jpg"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="DataScience-2"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/NLP-2.png"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">NLP-2</a></h4>
                <p>NLP</p>
                <div>
                  <a
                    href="assets/img/portfolio/NLP-2.png"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="NLP-2"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 portfolio-item filter-web"
            data-wow-delay="0.1s"
          >
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/ML-2.png"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">ML-2</a></h4>
                <p>ML</p>
                <div>
                  <a
                    href="assets/img/portfolio/ML-2.png"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="ML-2"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 portfolio-item filter-app"
            data-wow-delay="0.2s"
          >
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/DataScience-3.png"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Data Science-3</a></h4>
                <p>Data Science</p>
                <div>
                  <a
                    href="assets/img/portfolio/DataScience-3.jpg"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="DataScience-3"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/NLP-1.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">NLP-1</a></h4>
                <p>NLP</p>
                <div>
                  <a
                    href="assets/img/portfolio/NLP1.jpg"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="NLP-1"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 portfolio-item filter-card"
            data-wow-delay="0.1s"
          >
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/NLP-3.png"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">NLP-3</a></h4>
                <p>NLP</p>
                <div>
                  <a
                    href="assets/img/portfolio/NLP-3.png"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="NLP-3"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6 portfolio-item filter-web"
            data-wow-delay="0.2s"
          >
            <div class="portfolio-wrap">
              <img
                src="assets/img/portfolio/ML-1.jpg"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">ML-1</a></h4>
                <p>ML</p>
                <div>
                  <a
                    href="assets/img/portfolio/ML-1.jpg"
                    class="link-preview venobox"
                    data-gall="portfolioGallery"
                    title="ML-1"
                    ><i class="ion ion-eye"></i
                  ></a>
                  <a
                    href="portfolio-details.html"
                    class="link-details"
                    title="More Details"
                    ><i class="ion ion-android-open"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Courses Specifications -->

    <h2><b>The Courses!!!</b></h2>
    <button (click)="openDialog()" mat-stroked-button color="primary">
      Add Course
    </button>

    <div
      class="row feature-item"
      style="padding-top: 100px"
      *ngFor="let course of courseService.courses | async"
    >
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img [src]="course.image" class="img-fluid" alt="" />
      </div>
      <div
        class="col-lg-6 wow fadeInUp pt-5 pt-lg-0"
        data-aos="fade-left"
        data-aos-delay="150"
      >
        <p><b>Course Name:</b> {{ course.course_name }}</p>

        <p><b>Course Description:</b> {{ course.course_description }}</p>

        <p><b>Course Instructor:</b> {{ course.instructor }}</p>

        <p><b>Course Rating:</b> {{ course.rating }}/5</p>

        <p>
          <b>Course Link:</b> <a href="{{ course.link }}"> {{ course.link }}</a>
        </p>
        <button
          style="background-color: transparent; margin-right: 5px"
          (click)="openEditDialog(course)"
          mat-stroked-button
          color="primary"
        >
          Edit
        </button>
        <button
        
          (click)="deleteCourse(course.id)"
          mat-stroked-button
          color="warn"
          style="background-color: transparent"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</section>
