
  <!-- ======= Events Section ======= -->
  <section id="features" class="features" style="padding-top: 220px;">
    <div class="container" data-aos="fade-up">

      <div class="row feature-item">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/novacup.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>All Things ML ACM InNOVAtion Cup</h4>
          <p>
            All Things ML ACM InNOVAtion Cup has been created to unite startups and students. Due to the ongoing pandemic, companies have been struggling to discover students and students are trying to connect with the industry. This occasion is here to fathom that.
          </p>
          <p>
            The All Things ML ACM InNOVAtion Cup is all ready to test your mettle, and reward you for your skills. Just like with any other competition, we have chalked out a set of rules to make this event as effective as possible. 
          </p>
        </div>
      </div>

      

      <div class="row feature-item mt-5 pt-5" style="padding-top: 220px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/hackacm.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>All Things ML HACKathon</h4>
          <p>
            Think big, think Sustainable Development! That's right! The theme for this overwhelming adventure will be Sustainable Development Goals. Your ideas, your team and the success belongs to us all!
          </p>
          <p>
            Pakistan's first overnight-continuing 34-hour SDG hackathon came to an end leaving behind premium inspiration and golden memories.
          </p>
          <p>
            Congratulations to team Maple on project Polaris Share for winning Pakistan's first ever overnight Hackathon first of it's kind in Islamabad.
          </p>
        </div>

      </div>


      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/git.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>Let's Git Together For Git & GitHub</h4>
          <p>
            Let’s get hacking! Join us on January 5th, at 8:30 pm on Google Meet. We’ll start off with a quick demo on making open source contributions. This is a good chance to practice contribution flow and pairing with others.
          </p>
          <p>
            After the demo, we’ll have time to share contributions that you’ve made or have been working on. If you have a project you would like support on or know of an open-source project that could use support let us know about it. and support to open-source.
          </p>
        </div>
      </div>

      <div class="row feature-item mt-5 pt-5" style="padding-top: 100px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>ALL THINGS ML APPCON</h4>
          <p>
            Got a taste in Digital Application Development and want to test your skills. Well! We got you covered.
          </p>
          <p>
            SEECS students bag 2nd position in APPCON 2020; Telenor Microfinance Bank’s digital application development initiative
          </p>
          <p>
            We would like to congratulate the 23 teams from different institutions, colleges, and universities for their dedication and hard work for finishing their proposed entries and for successfully submitting it before the deadline expires last December 15, 2020.
          </p>
        </div>

      </div>


      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/nnw.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>ALL Things ML Neural Networks workshop Islamabad</h4>
          <p>
            Pie & AI is a series of deeplearning.ai meetups independently hosted by community groups. This event is hosted by deeplearning.ai Event Ambassadors from NUST Islamabad, Pakistan and NUST ACM Student Chapter.
          </p>
          <p>
            After the demo, we’ll have time to share contributions that you’ve made or have been working on. If you have a project you would like support on or know of an open-source project that could use support let us know about it. and support to open-source.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Events Section -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>Data Science 909!</h3>
                  <p>We believe the world is a better place when we share the knowledge we gain to others. If you love to share any data science topic, check out our join us page..</p>
                </div>

                <div class="footer-newsletter">
                  <h4>Let's Chat!</h4>
                  <p>Have a question ? Seeking an inquiry ? Partnership proposal ? Or would like to share feedback ?</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Work With Us?</a></li>
                    <li><a href="#">Host an Event?</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    National University of Sciences and Technology <br>
                    H-12 Campus<br>
                    Islamabad <br>
                    <strong>Phone:</strong> +92 3099224579<br>
                    <strong>Email:</strong> allthingsml@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Get notified of every new article we published directly on your favourite social media!</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Data Science 909!</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="#">ML Practitoners</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

