<!-- ======= Content Guidelines to Follow Section ======= -->
  <section id="services" class="services section-bg" style="padding-top: 150px;">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Content Guidelines To Follow</h3>
        <p>Your Article will be Published in just few steps!</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="" >Step 1</a></h4>
            <p class="description" style="text-align: center">Pick any data science topic you would like to write on.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="">Step 2</a></h4>
            <p class="description" style="text-align: center"> You will have to email your initial draft to us so that we can start further processing.
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Step 3</a></h4>
            <p class="description" style="text-align: center">Our editorial team will cross check and the relevent visual for your quality content .
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Step 4</a></h4>
            <p class="description" style="text-align: center">Our graphic design team will design the relevant graphics.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
      <div class=" box">
          <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
          <h4 class="title"><a href="">Step 5</a></h4>
          <p class="description" style="text-align: center">We will send you the final draft and ask you to commit changes if any.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="box">
          <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
          <h4 class="title"><a href="">Step 6</a></h4>
          <p class="description" style="text-align: center"> Once you apporved, the article will go live just like that.</p>
        </div>
      </div>

    </div>

    </div>
  </section><!-- End Content Guidelines to Follow  -->


  <!-- ======= Reading Articles Section ======= -->
  <section id="pricing" class="pricing section-bg wow fadeInUp">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>What it takes to read our Articles</h3>
        <p>Whatever package you want to choose, we've got you covered! </p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Free -->
        <div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>0<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Free
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Unlimited Private Repositories</li>
                <li class="list-group-item">Team Access Controls</li>
                <li class="list-group-item">User Management</li>
              </ul>
              <a href="#" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Pro -->
        <div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>7<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Pro
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Unlimited Private Repositories</li>
                <li class="list-group-item">Unlimited Collaboraters</li>
                <li class="list-group-item">Project Management</li>
              </ul>
              <a href="#" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Team  -->
        <div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>9<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Team
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Team Access Controls</li>
                <li class="list-group-item">Advanced Tools and Insights</li>
              </ul>
              <a href="#" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Pricing Section -->

