<section id="faq" class="faq clearfix" style="padding-top: 160px">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Our Forums!!</h3>
      <p>Ask any question and let people answer for you!</p>
    </header>
    <div style="margin-bottom: 5px">
      <input
        [(ngModel)]="questionForm.asked_by"
        type="text"
        name="name"
        class="form-control"
        required
        placeholder="Your name?"
      />
    </div>

    <div class="form-group">
      <textarea
        [(ngModel)]="questionForm.question"
        class="form-control"
        name="answer"
        rows="3"
        required
        placeholder="Ask your question here!"
      ></textarea>
    </div>
<br>
    <button
      [disabled]="
        questionForm.question.length < 1 || questionForm.asked_by.length < 1
      "
      (click)="askQuestion()"
      mat-stroked-button
      color="primary"
      
    >
      Ask Question
    </button>

    <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
      <li *ngFor="let question of questionService.questions | async">
        <a
          data-bs-toggle="collapse"
          class="collapsed"
          attr.data-bs-target="#i{{ question.q_id }}"
          >{{ question.question }}<br /><span style="font-size: 12px">{{
            question.asked_by
          }}</span
          ><br /><span style="font-size: 12px">{{ question.created_at }}</span>
          <a
            style="text-align: left; width: 5px"
            (click)="deleteQuestion(question.q_id)"
          >
            <span style="width: 5px; font-size: 12px; color: brown"
              >delete</span
            ></a
          ><i class="ion-android-remove"></i
        ></a>

        <div
          id="i{{ question.q_id }}"
          class="collapse"
          data-bs-parent="#faq-list"
          *ngIf="question.q_id !== undefined"
        >
          <p *ngIf="getAnswersOfQuestion(question.q_id).length < 1">
            hmmm, no one answered this yet. Be the first!
          </p>
          <p *ngFor="let answer of getAnswersOfQuestion(question.q_id)">
            {{ answer.answer }}<br /><span style="font-size: 12px">{{
              answer.answered_by
            }}</span
            ><br /><span style="font-size: 12px">{{ answer.created_at }}</span
            ><a
              (click)="deleteAnswer(answer.a_id)"
              style="
                width: 20px;
                padding-top: 10px;
                font-size: 12px;
                color: brown;
              "
              >delete</a
            >
          </p>
          <div>
            <input
              [(ngModel)]="answerForm.answered_by"
              type="text"
              name="name"
              class="form-control"
              required
              placeholder="What should we call you?"
            />
          </div>
          <br />
          <div class="form-group">
            <textarea
              [(ngModel)]="answerForm.answer"
              class="form-control"
              name="answer"
              rows="3"
              required
              placeholder="Know what the answer is? help out the community!"
            ></textarea>
          </div>

          <button
            [disabled]="
              answerForm.answer.length < 1 || answerForm.answered_by.length < 1
            "
            (click)="answerQuestion(question.q_id)"
            mat-button
            color="primary"
            style="
              font-size: 12px;
              margin-bottom: 5px;
              margin-top: 5px;
              color: #413e66;
            "
          >
            Answer
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>

