<!--
<section style="padding-top: 150px" class="clearfix">

  <div *ngFor="let question of questionService.questions | async">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >{{ question.q_id }}:{{ question.question }}
        </mat-panel-title>
        <mat-panel-description>
          asked by: {{ question.asked_by }}&nbsp;&nbsp;{{ question.created_at }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="question.q_id !== undefined">
        <h5>Answers:</h5>
        <div *ngFor="let answer of getAnswersOfQuestion(question.q_id)">
          <p>AnswerId#{{ answer.a_id }}:{{ answer.answer }}</p>
          <h5>
            AnsweredBy:{{ answer.answered_by }} On:{{ answer.created_at }}
          </h5>
        </div>
      </div> </mat-expansion-panel
    ><br />
  </div>
</section>
-->
<section id="faq" class="faq clearfix" style="padding-top: 140px">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Our Forums!!</h3>
      <p>Ask any question and let people answer for you!</p>
    </header>

    <ul id="faq-list" data-aos="fade-up" data-aos-delay="100">
      <li *ngFor="let question of questionService.questions | async">
        <a
          data-bs-toggle="collapse"
          class="collapsed"
          attr.data-bs-target="#i{{ question.q_id }}"
          >{{ question.question }}<br /><span style="font-size: 12px">{{
            question.asked_by
          }}</span
          ><br /><span style="font-size: 12px">{{ question.created_at }}</span
          ><br /><br />
          <button (click)="deleteQuestion(question.q_id)" mat-button>
            <span style="font-size: 12px; color: brown">Delete</span></button
          ><i class="ion-android-remove"></i
        ></a>

        <div
          id="i{{ question.q_id }}"
          class="collapse"
          data-bs-parent="#faq-list"
          *ngIf="question.q_id !== undefined"
        >
          <p *ngIf="getAnswersOfQuestion(question.q_id).length < 1">
            hmmm, no one answered this yet. Be the first!
          </p>
          <p *ngFor="let answer of getAnswersOfQuestion(question.q_id)">
            {{ answer.answer }}<br /><span style="font-size: 12px">{{
              answer.answered_by
            }}</span
            ><br /><span style="font-size: 12px">{{ answer.created_at }}</span
            ><a
              (click)="deleteAnswer(answer.a_id)"
              style="padding-top: 10px; font-size: 12px; color: brown"
              >delete</a
            >
          </p>
          <div>
            <input
              [(ngModel)]="answerForm.answered_by"
              type="text"
              name="name"
              class="form-control"
              required
              placeholder="What should we call you?"
            />
          </div>
          <br />
          <div class="form-group">
            <textarea
              [(ngModel)]="answerForm.answer"
              class="form-control"
              name="answer"
              rows="3"
              required
              placeholder="Know what the answer is? help out the community!"
            ></textarea>
          </div>

          <button
            [disabled]="
              answerForm.answer.length < 1 || answerForm.answered_by.length < 1
            "
            (click)="answerQuestion(question.q_id)"
            mat-button
            color="primary"
            style="
              font-size: 12px;
              margin-bottom: 5px;
              margin-top: 5px;
              color: #413e66;
            "
          >
            Answer
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End F.A.Q Section -->
