<section id="team" class="team section-bg" style="padding-top: 220px">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3>Our Team</h3>
      <p>
        The World Is A Better Place When We Share The Knowledge We Gain To
        Community, And Together We Can Share More
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/Safi.jpeg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Safi ur Rehman</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/Eesha.jpeg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Eesha Arif</h4>
              <span>Chief Technology Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/Babar.jpeg" class="img-fluid" alt="" />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Syed Babar Tameez</h4>
              <span>Chief Business Development Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <img
            src="assets/img/Anber.jpg"
            class="img-fluid"
            alt=""
            height="50"
          />
          <div class="member-info">
            <div class="member-info-content">
              <h4>Anber Arif</h4>
              <span>Chief Financial Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
