<mat-toolbar color="primary">
  <h2>AllThingsML</h2>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/">Articles/Blogs</button>
  <button mat-button routerLink="/">Forums</button>
  <button mat-button routerLink="/conversations">Communities</button>
  <button mat-button routerLink="/">Competitions</button>
  <button mat-button routerLink="/">Courses</button>
  <button mat-button routerLink="/">Events</button>
  <button mat-button routerLink="/">Featured~</button>

  <span style="flex: 1 1 auto"></span>

  <button mat-button routerLink="/">ML_DEMO_1</button>
  <button mat-button routerLink="/">ML_DEMO_2</button>
</mat-toolbar>
<ul>
  <li><button mat-button routerLink="/">Our Team</button></li>
  <li><button mat-button routerLink="/">About Us</button></li>
  <li><button mat-button routerLink="/">Contact Us</button></li>
  <li><button mat-button routerLink="/">FAQs</button></li>
  <li><button mat-button routerLink="/">Community Guidelines</button></li>
  <li><button mat-button routerLink="/">Work with us?</button></li>
  <li><button mat-button routerLink="/">Host an Event?</button></li>
</ul>
