
<mat-toolbar color="primary">
  <h2>AllThingsML</h2>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/articles">Articles</button>
  <button mat-button routerLink="/forums">Forums</button>
  <button mat-button routerLink="/datasets">Datasets</button>
  <button mat-button routerLink="/communities">Communities</button>
  <button mat-button routerLink="/competitions">Competitions</button>
  <button mat-button routerLink="/courses">Courses</button>
  <button mat-button routerLink="/events">Events</button>
  <button mat-button routerLink="/featured">Featured~</button>

  <span style="flex: 1 1 auto"></span>

  <button mat-button routerLink="/demo-one">ML_DEMO_1</button>
  <button mat-button routerLink="/demo-two">ML_DEMO_2</button>
</mat-toolbar>
<ul>
  <li><button mat-button routerLink="/our-team">Our Team</button></li>
  <li><button mat-button routerLink="/about-us">About Us</button></li>
  <li><button mat-button routerLink="/contact-us">Contact Us</button></li>
  <li><button mat-button routerLink="/faqs">FAQs</button></li>
  <li>
    <button mat-button routerLink="/community-guidelines">
      Community Guidelines
    </button>
  </li>
  <li><button mat-button routerLink="/work-with-us">Work with us?</button></li>
  <li><button mat-button routerLink="/host-event">Host an Event?</button></li>
</ul>

