<section id="services" class="services section-bg" style="padding-top: 170px;">

  <header class="section-header">
    <h3>Communities around the world!</h3>
    <p>Click on any community to see messages from people all around the world!</p>
  </header>
  <div class="row">
    <div class=" wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
      <div class=" wow bounceInUp" id="post-8723">
        <div class="box" style="width: 200" *ngFor="let community of communityService.communities | async">
          <div class="wow bounceInUp">
          <button
          style=" background-color: transparent;"
          mat-button
          color="primary"
          [routerLink]="['/communities/messages', community.topic]"
        >

          <h4 class="title">{{ community.topic }}</h4>

        </button>
          </div>
        </div>
      </div>
    </div>
  </div>
