<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg" style="padding-top: 170px">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>Communities</h3>
      <p>
        Join the amazing comuunities of like minded individuals!
      </p>
    </header>

    <div class="row">
      <div
        class="col-md-6 col-lg-4 wow"
        data-aos="zoom-in"
        data-aos-delay="200"
        *ngFor="let community of communityService.communities | async"
      >
        <div
          class="box"
          [routerLink]="['/communities/messages', community.topic]"
        >
          <div class="icon" style="background: #e1eeff">
            <i class="ion-ios-world-outline" style="color: #2282ff"></i>
          </div>
          <h4 class="title">
            <a style="cursor:pointer">{{ community.topic }}</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
