<p>communities works!</p>
<p>This page will include a list of names of every community</p>
<p>This will simply open a collective public place for people to upload messages about that specific topic:</p>
<a href="https://www.kaggle.com/discussion">https://www.kaggle.com/discussion</a>
<button mat-button color="primary" [routerLink]="['/communities/messages','tensorflow']">TensorFlow</button>
<button mat-button color="primary" [routerLink]="['/communities/messages','computerVision']">ComputerVision</button>