
<!-- ======= Content Guidelines to Follow Section ======= -->
<!--<button
    *ngFor="let article of articleService.articles | async"
    mat-button
    color="primary"
    [routerLink]="['/articles/opened', article.id]"
  >
    {{ article.heading }} - {{article.author}}-
 
  </button> -->
<!-- ======= Content Guidelines to Follow Section ======= -->
  <section id="services" class="services section-bg" style="padding-top: 170px;">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Published Articles</h3>
        <p>Do give a read to the articles and you can provide your feedback by dropping us a message!</p>
      </header>

      <div class="row" >

        <div class=" wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class=" wow bounceInUp" id="post-8723"> 

            <div class="box" style="width: 200" *ngFor="let article of articleService.articles | async">
            <!--POST THUMBNAIL START-->
                    <div class=" wow bounceInUp">
                         <!--CALL TO POST IMAGE-->   
                         <img [src]="article.thumbnail" alt="" width="300" height="180" class="img-fluid">
                        <!-- <img src="/Users/safiurrehman/Desktop/MLthings frontend/AllThingsML-frontend/src/assets/img/Safi.jpeg"  width="300" height="180"  > -->

                    </div>
             <!--POST THUMBNAIL END-->

                <!--POST CONTENT START-->
                    <div class="post_content">

                      <button

                      style=" background-color: transparent;"
    
                      mat-button
                    
                      [routerLink]="['/articles/opened', article.id]"
                    >

                      <h4 class="title">{{ article.heading }}</h4>

                    </button>
                        
                     <!--META INFO START-->   
                       <div class="single_metainfo">
                          <!--DATE-->
                          <p class="description" style="text-align: center">{{article.created_at}}</p>
                            <!--AUTHOR-->
                          <p class="description" style="text-align: center">{{article.author}}</p>
                        </div>
                                                                       
                    </div>
                <!--POST CONTENT END-->

              
            </div>

          </div>



































<!--           
          <div class="box"  *ngFor="let article of articleService.articles | async">
            <button
    
              mat-button
              color="primary"
              [routerLink]="['/articles/opened', article.id]"
            >
 
        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="" > {{ article.heading }}</a></h4>
            <p class="description" style="text-align: center">{{article.author}}</p>
          </button></div> -->










        </div>

    </div>

    </div>
  </section><!-- End Content Guidelines to Follow  -->


