
<!-- ======= Content Guidelines to Follow Section ======= -->
<!--<button
    *ngFor="let article of articleService.articles | async"
    mat-button
    color="primary"
    [routerLink]="['/articles/opened', article.id]"
  >
    {{ article.heading }} - {{article.author}}-
 
  </button> -->
<!-- ======= Content Guidelines to Follow Section ======= -->
  <section id="services" class="services section-bg" style="padding-top: 170px;">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Published Articles</h3>
        <p>Do give a read to the articles and you can provide your feedback by dropping us a message!</p>
      </header>

      <div class="row" >

        <div class=" wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class=" wow bounceInUp" id="post-8723"> 

            <div class="box" style="width: 200" *ngFor="let article of articleService.articles | async">
            <!--POST THUMBNAIL START-->
                    <div class=" wow bounceInUp">
                         <!--CALL TO POST IMAGE-->   
                         <img [src]="article.thumbnail" alt="" width="300" height="180" class="img-fluid">
                        <!-- <img src="/Users/safiurrehman/Desktop/MLthings frontend/AllThingsML-frontend/src/assets/img/Safi.jpeg"  width="300" height="180"  > -->

                    </div>
             <!--POST THUMBNAIL END-->

                <!--POST CONTENT START-->
                    <div class="post_content">

                      <button

                      style=" background-color: transparent;"
    
                      mat-button
                      color="primary"
                      [routerLink]="['/articles/opened', article.id]"
                    >

                      <h4 class="title">{{ article.heading }}</h4>

                    </button>
                        
                     <!--META INFO START-->   
                       <div class="single_metainfo">
                          <!--DATE-->
                          <p class="description" style="text-align: center">{{article.created_at}}</p>
                            <!--AUTHOR-->
                          <p class="description" style="text-align: center">{{article.author}}</p>
                        </div>
                                                                       
                    </div>
                <!--POST CONTENT END-->

              
            </div>

          </div>



































<!--           
          <div class="box"  *ngFor="let article of articleService.articles | async">
            <button
    
              mat-button
              color="primary"
              [routerLink]="['/articles/opened', article.id]"
            >
 
        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="" > {{ article.heading }}</a></h4>
            <p class="description" style="text-align: center">{{article.author}}</p>
          </button></div> -->










        </div>

    </div>

    </div>
  </section><!-- End Content Guidelines to Follow  -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>Data Science 909!</h3>
                  <p>We believe the world is a better place when we share the knowledge we gain to others. If you love to share any data science topic, check out our join us page..</p>
                </div>

                <div class="footer-newsletter">
                  <h4>Let's Chat!</h4>
                  <p>Have a question ? Seeking an inquiry ? Partnership proposal ? Or would like to share feedback ?</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Work With Us?</a></li>
                    <li><a href="#">Host an Event?</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    National University of Sciences and Technology <br>
                    H-12 Campus<br>
                    Islamabad <br>
                    <strong>Phone:</strong> +92 3099224579<br>
                    <strong>Email:</strong> allthingsml@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Get notified of every new article we published directly on your favourite social media!</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Data Science 909!</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">ML Practitoners</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
