<section id="about" class="about" style="padding-top: 220px">
  <div class="container" data-aos="fade-up">
    <div class="row" *ngIf="article !== undefined">
      <div class="col-lg-5 col-md-6">
        <div class="about-img" data-aos="fade-right" data-aos-delay="100">
          <img [src]="article.thumbnail" alt="" />
        </div>
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="about-content" data-aos="fade-left" data-aos-delay="100">
          <h2>{{ article.heading }}</h2>
          <h3>{{ article.description }}</h3>
          <p [innerHTML]="article!.body"></p>
          
        </div>
      </div>
    </div>
  </div>
</section>

