
  <!-- ======= Featured Section ======= -->


    <section id="features" class="features" style="padding-top: 220px;">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Data Science 909! Features</h3>
        <p> A Publication Sharing concepts, ideas and codes
        </p>
      </header>

      
      <div class="row feature-item mt-5 pt-5" style="padding-top: 220px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/featured-1.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4><b>A Better World Awaits</b></h4>
          <p>
            Happy New Year and welcome to 2021!
          </p>
          <p>
            Amidst the turmoil and heartbreak of 2020, the narrative around big data was redefined. Our focus shifted from personal gain to how we can use data science for the good of people everywhere. 
          </p>
          <p>
            This year, we saw more articles than ever before about using data science and machine learning to model pandemics, predict wildfires, uncover racial discrimination in our institutions and more.
          </p>

          <p>
            We hope that data science can provide insight into urgent social, environmental, and political challenges.
          </p>
        </div>

      </div>


      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/featured-2.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4><b>Looking Back at 2020</b></h4>
          <p>
          
            And looking forward to another groundbreaking year
          </p>
          <p>
            Thank you for spending another incredible year with us!
            2020 has been quite a year, and we are grateful to have spent it with you. 
          </p>

          <p>
            This year reminded us repeatedly that data and the data science community are astonishingly powerful tools for understanding and improving our lives. 
          </p>
          <p>
            We have been amazed by the ways this community has come together to analyze information and freely share what we discovered.
          </p>
        </div>
      </div>

      <div class="row feature-item mt-5 pt-5" style="padding-top: 100px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/featured-3.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4><b>Emerging Problems in Data Science and Machine Learning

</b></h4>
          <p>
            How can we ensure that data science and machine learning technologies evolve in a way that benefits humanity?
            
          </p>
          <p>
           We have realized over time that important problems are emerging from the progress in our field. Problems related to privacy, interpretability, and alignment, for example. 
          </p>
          <p>
            That’s why we decided to reach out to our community and research what the potential issues facing our field are and how we can help resolve them. If you’re interested in contributing to any of these topics, you can submit an article to our team. 
          </p>

          <p>If selected, your article will be featured longer in our publication, posted on our social media, and emailed to readers via our newsletter.
          </p>
        </div>

      </div>


      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/featured-4.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4><b>Getting Hired in Data Science</b></h4>
          <p>
            Our Best Career Advice
          </p>
          <p>
            We’ve realized that trying to become a data scientist is like drinking from two firehoses. The first firehose is technical. You have to browse blog posts, online courses, Kaggle competitions and bootcamps, and learn about everything from AUC scores and hyperparameter tuning to clustering algorithms and deep neural networks. 

          <p>
            This one’s a pain to deal with, but it gets a lot of attention, and there are great resources our there to help most people wrap their heads around it, provided they put in the time.

          </p>

          <p>
            But the second is just as important. This is the career advice firehose — the set of information that helps you to decide what jobs you should target to break into data science, and how you can stand out among the sea of other applicants.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End Featured Section -->

  
  <!-- ======= Footer ======= -->
 <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>Data Science 909!</h3>
                  <p>We believe the world is a better place when we share the knowledge we gain to others. If you love to share any data science topic, check out our join us page..</p>
                </div>

                <div class="footer-newsletter">
                  <h4>Let's Chat!</h4>
                  <p>Have a question ? Seeking an inquiry ? Partnership proposal ? Or would like to share feedback ?</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Work With Us?</a></li>
                    <li><a href="#">Host an Event?</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    National University of Sciences and Technology <br>
                    H-12 Campus<br>
                    Islamabad <br>
                    <strong>Phone:</strong> +92 3099224579<br>
                    <strong>Email:</strong> allthingsml@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Get notified of every new article we published directly on your favourite social media!</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Data Science 909!</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="#">ML Practitoners</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

