<section id="hero" class="clearfix">
  <div class="container d-flex h-100">
    <div
      class="row justify-content-center align-self-center"
      data-aos="fade-up"
    >
      <div
        class="col-lg-6 intro-info order-lg-first order-last"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <h2>Data<br />Science <span>909!</span></h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>

      <div
        class="col-lg-6 intro-img order-lg-last order-first"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->







<main id="main">

  

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Services</h3>
        <p>Need a lift ? Learn Data Science to stay one step ahead and improve your career.</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="" >Innovate</a></h4>
            <p class="description" style="text-align: center">Design Thinking Strategy <br> Technology Architecture <br> Innovative Sprints <br> Digital Product Strategy</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="">Design</a></h4>
            <p class="description" style="text-align: center">Research <br> Brand Identity Design <br> Graphic Design <br>UI Design</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Develop</a></h4>
            <p class="description" style="text-align: center">Applications <br>Enterprise Systems <br> Mobile Apps <br>Websites</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Grow</a></h4>
            <p class="description" style="text-align: center">Marketing Strategy <br> Optimization/ Analysis <br>Interactive Videos <br> Content Marketing</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
      <div class=" box">
          <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
          <h4 class="title"><a href="">Training</a></h4>
          <p class="description" style="text-align: center">Setting Objectives <br> Designing <br>Implementation <br> Evaluation</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="box">
          <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
          <h4 class="title"><a href="">Career Development</a></h4>
          <p class="description" style="text-align: center">Exploring Career Options <br>Developing Tools <br>Conducting Research <br>Evaluating Results</p>
        </div>
      </div>

    </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">

      <header class="section-header">
        <h3>Why Choose Us?</h3>
        <p>Connect with some of the most innovative people and ideas in the world of data science.</p>
      </header>

      <div class="row">

        <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="why-us-img">
            <img src="assets/img/why-us.jpg" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">
            <p>We're intereseted in anything that relates to data science, below are the guidelines we follow before we approve your article.

            It should be original and not previously published online.
    </p>
            <p>
              We feel 1500 to 2000 words is reasonable, but that's a guideline not a rule.
              Use as much text as you need to explain your idea clearly, we will help you with the images.
 
              We'll edit your post for grammar, punctuation, spelling, etc, but won't make any substantive changes without your approval.
            </p>

            <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
              <i class="fa fa-diamond" style="color: #f058dc;"></i>
              <h4>Data Science</h4>
              <p>We covered topics like latest technologies, tools, and how to implement them in various ways.</p>
            </div>

            <div class="features clearfix" data-aos="fade-up" data-aos-delay="200">
              <i class="fa fa-object-group" style="color: #ffb774;"></i>
              <h4>Machine Learning</h4>
              <p>We covered topics like different machine learning algorithms, and implementing them in python and R programming languages.</p>
            </div>

            <div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
              <i class="fa fa-language" style="color: #589af1;"></i>
              <h4>Deep Learning</h4>
              <p>We covered topics like different deep learning algorithms and build tensorflow models to build various deep learning models.</p>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="container">
      <div class="row counters" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">2.9M</span>
          <p>Overall Readers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100K</span>
          <p>Monthly Readers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">5</span>
          <p>Authors</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">100+</span>
          <p>Articles</p>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Work From Home</h3>
          <p class="cta-text"> Data Science 909! brings the team together, whereever you are. With all of your communication and tools in one place, remote teams will stay prodcutive wherever you are working from.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Learn More</a>
        </div>
      </div>

    </div>
  </section><!--  End Call To Action Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

     <div class="row feature-item">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h2><b>Data Science 909! Features</b></h2>
         <ul>
              <li><h5>Mobile Compatibility</h5></li>
              <li><h5>Accessible to All Users</h5></li>
              <li><h5>Well-Formatted Content</h5></li>
              <li><h5>Browser Consistency</h5></li>
              <li><h5>Effective Navigation</h5></li>
              <li><h5>Fast Load Times</h5></li>
              
         </ul>
        </div>
      </div>

   <div class="row feature-item mt-5 pt-5">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>Where To Start?</h4>
          <p>
          Then this page is especially for you. Learn the basic concepts to get into the data science world. We are continuously updating this page with our fresh content.
          </p>

          <p>
           We organized all our posts by keeping in the mind to make the beginner’s learning journey happy.  If you are looking for a particular data science concept, do let us know in the comments section. So we will write a post on the concept you suggested.

          </p>
          <p>
            We wish you a happy learning.

            If you want to share your learning through a blog article, feel free to check out our Join us page to become part of the Data Science 909! family.
        </div>

      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Data Science</li>
            <li data-filter=".filter-card">NLP</li>
            <li data-filter=".filter-web">ML</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/DataScience-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">DataScience-1</a></h4>
              <p>Data Science</p>
              <div>
                <a href="assets/img/portfolio/app1.jpg" data-gall="portfolioGallery" title="DataScience-1" class="link-preview venobox"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/ML-3.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">ML-3</a></h4>
              <p>ML</p>
              <div>
                <a href="assets/img/portfolio/ML-3.png" class="link-preview venobox" data-gall="portfolioGallery" title="ML-3"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/DataScience-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Data Science-2</a></h4>
              <p>Data Science</p>
              <div>
                <a href="assets/img/portfolio/DataScience-2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="DataScience-2"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/NLP-2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">NLP-2</a></h4>
              <p>NLP</p>
              <div>
                <a href="assets/img/portfolio/NLP-2.png" class="link-preview venobox" data-gall="portfolioGallery" title="NLP-2"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/ML-2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">ML-2</a></h4>
              <p>ML</p>
              <div>
                <a href="assets/img/portfolio/ML-2.png" class="link-preview venobox" data-gall="portfolioGallery" title="ML-2"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/DataScience-3.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Data Science-3</a></h4>
              <p>Data Science</p>
              <div>
                <a href="assets/img/portfolio/DataScience-3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="DataScience-3"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/NLP-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">NLP-1</a></h4>
              <p>NLP</p>
              <div>
                <a href="assets/img/portfolio/NLP1.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="NLP-1"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/NLP-3.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">NLP-3</a></h4>
              <p>NLP</p>
              <div>
                <a href="assets/img/portfolio/NLP-3.png" class="link-preview venobox" data-gall="portfolioGallery" title="NLP-3"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/ML-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">ML-1</a></h4>
              <p>ML</p>
              <div>
                <a href="assets/img/portfolio/ML-1.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="ML-1"><i class="ion ion-eye"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">

          <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <img src="../../assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="../../assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="../../assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              </p>
            </div>

            <div class="testimonial-item">
              <img src="../../assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              </p>
            </div>

          </div>

        </div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg" style="padding-top: 220px;">
  <div class="container" data-aos="fade-up">
    <div class="section-header">

      <h3>Our Team</h3>
      <p>The World Is A Better Place When We Share The Knowledge We Gain To Community, And Together We Can Share More</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <img src="assets/img/Safi.jpeg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Safi ur Rehman</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <img src="assets/img/Eesha.jpeg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Eesha Arif</h4>
              <span>Chief Technology Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <img src="assets/img/Babar.jpeg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Syed Babar Tameez </h4>
              <span>Chief Business Development Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <img src="assets/img/Anber.jpg" class="img-fluid" alt="" height="50">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Anber Arif</h4>
              <span>Chief Financial Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->


  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <div class="owl-carousel clients-carousel">
        <img src="/Users/safiurrehman/Desktop/MLthings frontend/AllThingsML-frontend/src/assets/img/clients/client-1.png" alt="">
        <img src="assets/img/clients/client-2.png" alt="">
        <img src="assets/img/clients/client-3.png" alt="">
        <img src="assets/img/clients/client-4.png" alt="">
        <img src="assets/img/clients/client-5.png" alt="">
        <img src="assets/img/clients/client-6.png" alt="">
        <img src="assets/img/clients/client-7.png" alt="">
        <img src="assets/img/clients/client-8.png" alt="">
      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing section-bg wow fadeInUp">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Pricing</h3>
        <p>Whether you're starting an open sourcen project or choosing new tools for your team, we've got you covered! </p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Free -->
        <div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>0<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Free
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Unlimited Private Repositories</li>
                <li class="list-group-item">Team Access Controls</li>
                <li class="list-group-item">User Management</li>
              </ul>
              <a href="#" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Pro -->
        <div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>7<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Pro
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Unlimited Private Repositories</li>
                <li class="list-group-item">Unlimited Collaboraters</li>
                <li class="list-group-item">Project Management</li>
              </ul>
              <a href="#" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Team  -->
        <div class="col-xs-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>9<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Team
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Unlimited Public Repositories</li>
                <li class="list-group-item">Team Access Controls</li>
                <li class="list-group-item">Advanced Tools and Insights</li>
              </ul>
              <a href="#" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section><!-- End Pricing Section -->



</main><!-- End #main -->


<!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>Data Science 909!</h3>
                  <p>We believe the world is a better place when we share the knowledge we gain to others. If you love to share any data science topic, check out our join us page..</p>
                </div>

                <div class="footer-newsletter">
                  <h4>Let's Chat!</h4>
                  <p>Have a question ? Seeking an inquiry ? Partnership proposal ? Or would like to share feedback ?</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Work With Us?</a></li>
                    <li><a href="#">Host an Event?</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    National University of Sciences and Technology <br>
                    H-12 Campus<br>
                    Islamabad <br>
                    <strong>Phone:</strong> +92 3099224579<br>
                    <strong>Email:</strong> allthingsml@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Get notified of every new article we published directly on your favourite social media!</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Data Science 909!</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">ML Practitoners</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
