
    <section id="features" class="features" style="padding-top: 220px;">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3>Community Guidelines</h3>
        <p>How to get your article ready for publication!
          Please be aware that if you don’t follow our submission guidelines, your article won’t be accepted.
        </p>
      </header>

      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/story.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4> Is your story a story that needs to be told?</h4>
          <p>
            Before you start writing, ask yourself: is this story a story that needs to be told?
            If you have read many articles addressing the same issue or explaining the same concept, think twice before writing another one. 
          </p>
          <p>
            If you have a radical, new take on an old chestnut, we want to hear from you… but, we need you to persuade us that your article is something special that distinguishes itself from the pack and speaks to our audience.
            Conversely, if your article addresses an underserved area or presents a new idea or method, that’s just what we are after!
        </div>
      </div>

      

      <div class="row feature-item mt-5 pt-5" style="padding-top: 220px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/message.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>What is your message?</h4>
          <p>
            
            Let us know what your ‘take home message’ is, right from the start. Give your piece a snappy introduction that tells us:
            What is your novel idea?
            Why should we care?
          </p>
          <p>
            How are you going to prove your point?
            Once you’ve got that out of the way, you can be as conversational as you like, but keep calling back to the central message and give us a solid conclusion.
          </p>
          <p>
            Remember though, Data Science 909! is not your personal blog, keep it sharp and on-topic!
          </p>
        </div>

      </div>


      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/fact.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>Check your facts</h4>
          <p>
          
            Whenever you provide a fact, if it’s not self-evident, let us know where you learned it. Tell us who your sources are and where your data originated. 
          </p>
          <p>
            If we want to have a conversation we all need to be on the same page. Maybe something you say will spark a discussion, but if we want to be sure we are not at cross purposes, we need to go back to the original and read for ourselves in case we are missing a vital piece of the puzzle that makes everything you say make sense.
          </p>
        </div>
      </div>

      <div class="row feature-item mt-5 pt-5" style="padding-top: 100px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/conclusion.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
          <h4>Is your conclusion to the point and not promotional?</h4>
          <p>
            
            Please make sure that you include a conclusion at the end of your article. It’s a great way to help your readers review and remember the essential points or ideas you’ve covered. 
          </p>
          <p>
            You can also use your conclusion to link an original post or a few relevant articles.Please do not request claps and donations and don’t include more than three links to previously published articles. 
          </p>
          <p>
            Readers know that they can click on your profile to see all your posts and they know that they can follow you, so there is no need to request it.
          </p>
        </div>

      </div>


      <div class="row feature-item" style="padding-top: 100px;">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/tags.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
          <h4>Are your tags precise enough?</h4>
          <p>
            
            The more specific your tags, the easier it is for readers to find your article and for us to classify and recommend your post to the relevant audience.


          </p>
          <p>
            Depending on the tags you choose, your post will be featured on our data science, machine learning, programming or visualization page. Please choose precise tags as we can’t allow a post to be in all our categories at once.
          </p>

          <p>
            We may change one or two tags before publication. We would do this only to keep our different sections relevant to our readers. For instance, we would want to avoid tagging a post on linear regression as “Artificial Intelligence”.
          </p>

        </div>
      </div>

    </div>
  </section>

  
